@font-face {
  font-family: "j-icon"; /* Project id 2792799 */
  src: url('iconfont.woff2?t=1630913791204') format('woff2'),
       url('iconfont.woff?t=1630913791204') format('woff'),
       url('iconfont.ttf?t=1630913791204') format('truetype');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

[class^=j-icon-],
[class*=" j-icon-"] {
  font-family: "j-icon" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.j-icon-iconfont5:before {
  content: "\e63a";
}

.j-icon-gouwuche:before {
  content: "\e63f";
}

.j-icon-gouwuchetianjia:before {
  content: "\e640";
}

.j-icon-cuowu:before {
  content: "\e641";
}

.j-icon-erweima:before {
  content: "\e642";
}

.j-icon-jushoucang:before {
  content: "\e643";
}

.j-icon-lajixiang:before {
  content: "\e645";
}

.j-icon-lianjie:before {
  content: "\e646";
}

.j-icon-naozhong:before {
  content: "\e648";
}

.j-icon-saoyisao:before {
  content: "\e649";
}

.j-icon-shangfan:before {
  content: "\e64a";
}

.j-icon-shezhi:before {
  content: "\e64b";
}

.j-icon-shengyin:before {
  content: "\e64c";
}

.j-icon-shijian:before {
  content: "\e64d";
}

.j-icon-shouhuodizhi:before {
  content: "\e64e";
}

.j-icon-shouye:before {
  content: "\e64f";
}

.j-icon-shuaxin:before {
  content: "\e650";
}

.j-icon-sousuo:before {
  content: "\e651";
}

.j-icon-suo:before {
  content: "\e652";
}

.j-icon-tishi:before {
  content: "\e653";
}

.j-icon-wancheng:before {
  content: "\e654";
}

.j-icon-wodedingdan:before {
  content: "\e655";
}

.j-icon-wodefankui:before {
  content: "\e656";
}

.j-icon-wodehongbao:before {
  content: "\e657";
}

.j-icon-wodejuhuasuan:before {
  content: "\e659";
}

.j-icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.j-icon-xiafan:before {
  content: "\e65b";
}

.j-icon-xiala:before {
  content: "\e65c";
}

.j-icon-xiangshangjiantou:before {
  content: "\e65d";
}

.j-icon-xiangxiajiantou:before {
  content: "\e65e";
}

.j-icon-xiangyoujiantou:before {
  content: "\e65f";
}

.j-icon-xiangzuojiantou:before {
  content: "\e660";
}

.j-icon-yanjing:before {
  content: "\e661";
}

.j-icon-yijianfankui:before {
  content: "\e662";
}

.j-icon-zhaoxiangji:before {
  content: "\e663";
}

.j-icon-zhengque:before {
  content: "\e664";
}

.j-icon-xiaoxizhongxin:before {
  content: "\e665";
}

.j-icon-lingcunwei:before {
  content: "\e666";
}

.j-icon-new:before {
  content: "\e667";
}

.j-icon-mian:before {
  content: "\e67e";
}

.j-icon-liwu:before {
  content: "\e685";
}

.j-icon-yuyin:before {
  content: "\e687";
}

